.about {
    margin:65px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        margin-bottom: 25px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        color: #2D2F33;
    }

    .sub-title {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 170%;
        text-align: center;
        color: #000;
    }

    .description {
        margin-bottom: 48px;
        max-width: 1096px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 170%;
        text-align: center;
        color: #586271;
    }

    .grid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom:80px;

        .item {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-top:40px;

            img {
                margin-right: 27px;
            }

            .title {
                margin-bottom:14px;
                font-family: Gilroy;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 170%;
                text-align: center;
                text-decoration-line: underline;
                color: #3578DC;
            }

            .description {
                margin-bottom:0;
                max-width: 457px;
                font-family: Gilroy;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 25px;
                color: #586271;
                text-align:left;
            }
        }
    }

    .row {
        width: 100%;
        margin-top:120px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .img-block {
                max-width: 230px;
                box-shadow: 0 0 60px #d5eaf1;
                border-radius: 40px;
            }

            p {
                max-width: 242px;
                margin-top:20px;
                font-family: Gilroy;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #6392CA;
            }
        }
    }
}