.advantage {
    margin:99px auto 0;
    text-align: center;

    .block {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &::before {
            content: "";
            display: block;
            width: 234px;
            height: 18px;
            margin-bottom:30px;
            background-image: url('../img/advantage.svg');
        }

        p {
            margin-bottom:30px;
            max-width: 890px;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #586271;

            &.title {
                font-weight: 600;
                font-size: 22px;
                line-height: 36px;
                color: #000000;
                
            }
        }
    }
}