.calc {
    margin:30px auto 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 60px #D5EAF1;
    border-radius: 40px;
    padding: 30px 38px;
    display: flex;
    flex-wrap: wrap;

    .field {
        display: block;
        position: relative;
        padding-bottom: 15px;
        padding-left: 77px;
        border-bottom: 1px solid rgba(0,0,0,.1);
        width: calc(25% - 150px / 4);
        padding-top: 0;
        margin-right: 50px;

        &::before {
            content: "";
            display: block;
            width: 57px;
            height: 57px;
            position: absolute;
            left: 0;
            bottom: 15px;
            border-radius: 15px;
            background-repeat: no-repeat;
            background-position: center;
        }

        &.country {
            &::before {
                background-image: url('../img/icons/globe.svg'), linear-gradient(135deg, rgb(254, 188, 216), rgb(255, 134, 186));
            }
        }

        &.city {
            &::before {
                background-image: url('../img/icons/building.svg'), linear-gradient(135deg, rgb(254, 188, 216), rgb(255, 134, 186));
            }
        }

        &.postcode {
            &::before {
                background-image: url('../img/icons/postcode.svg'), linear-gradient(135deg, rgb(254, 188, 216), rgb(255, 134, 186));
            }
        }

        &.weight {
            margin-right: 0;

            &::before {
                background-image: url('../img/icons/weight.svg'), linear-gradient(135deg, rgb(254, 188, 216), rgb(255, 134, 186));
            }
        }

        label {
            display: block;
            font-family: Gilroy;
            font-size: 14px;
            line-height: 30px;
            font-weight: 500;
            color: #586271;
            margin: 0;
        }

        select {
            border:0;
            font-family: Gilroy;
            min-width: auto;
            width: 100%;
            height: 30px;
            padding: 0;
            font-size: 16px;
            line-height: 30px;
            color: #000;
            background-size: 15px 9px;
            cursor: pointer;
            outline: none;
            background-position: right center;

            &:focus {
                border:0;
            }
        }

        input[type="text"] {
            display: block;
            height: 30px;
            padding: 0;
            font-family: Gilroy;
            font-size: 16px;
            line-height: 30px;
            font-weight: 600;
            color: #000;
            margin: 0;
            outline: none;
        }

        .weight-unit {
            position: absolute;
            right: 0;
            bottom: 20px;
            min-width: 34px;
            padding: 0 2px;
            height: 44px;
            padding-bottom: 21px;
            border-radius: 15px;
            border: 1px solid #E6E6E6;
            background-image: url('../img/icons/weight-unit.svg'), linear-gradient(to bottom, transparent, transparent 50%, #FFABCF 50%);
            background-repeat: no-repeat;
            background-position: center bottom 8px, center;

            select {
                text-align-last: center;
                font-size: 14px;
                line-height: 14px;
                background-color: transparent;
                background: none;
                -moz-appearance: none;
                padding: 0 7px;
                width: 28px;
                height: 44px;
                padding-bottom: 24px;
                border-radius: 15px;
            }
        }

        .weight-progress {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            transform: translateY(50%);
            width: 100%;
            height: 2px;
            cursor: pointer;
            background: #FF90C0;
            box-shadow: none;
            border: none;
        }

        .weight-range {
            width: 100%;
            vertical-align: middle;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            appearance: none;
            background: transparent;
            transform: translateY(50%);   
        }

        .weight-range::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: linear-gradient(314.38deg, #FF86BA 7.46%, #FEBCD8 89.05%);
            border: none;
            margin-top: -8px;
            cursor: pointer;
        }
        
        .weight-range::-moz-range-thumb {
            -moz-appearance: none;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: linear-gradient(314.38deg, #FF86BA 7.46%, #FEBCD8 89.05%);
            border: none;
            cursor: pointer;
        }
        
        .weight-range::-webkit-slider-runnable-track {
            width: 100%;
            height: 1px;
            cursor: pointer;
            background: rgba(0, 0, 0, 0.1);
            box-shadow: none;
            border: none;
        }
        
        .weight-range::-moz-range-track {
            width: 100%;
            height: 1px;
            cursor: pointer;
            background: rgba(0, 0, 0, 0.1);
            box-shadow: none;
            border: none;
        }
    }

    .field-footer {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align:center;
        color: #586271;
        cursor: pointer;

        &:after{
            content: "";
            display: block;
            margin-left: 10px;
            width: 12px;
            height: 7px;
            background-image: url('../img/icons/arr-down-gray.svg');
            background-repeat: no-repeat;
            background-size: 12px 7px;
            background-position: center;
        }
    }

    &.f-column {
        flex-direction: column;
        max-width: 390px;
        margin-right: 0;

        .field{
            margin-bottom: 20px;
            width: 299px;
        }
    }
}

.calc-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto 0;

    .btn {
        @include btnBig(#FFF, #FF006D, #FF006D);
        margin:0 auto;

        &:hover {
            @include btnBigHover;
        }
    }

    .terms-link {
        display: block;
        margin:20px auto 0;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        text-decoration-line: underline;
        color: #3A78BC;
    }
}