.discounts-block {
    margin:136px auto 0;

    .heading {
        margin-bottom:65px;
        font-family: Gilroy;
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        color: #2E2828;
    }
    
    .grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .item {
            width: 100%;
            max-width: 562px;
            padding:30px;
            margin-bottom:16px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border: 2px solid #FFAED0;
            box-sizing: border-box;
            border-radius: 40px;

            .row {
                display: flex;

                .title {
                    margin-left: 24px;
                    text-transform: uppercase;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 40px;
                    color: #000000;
                }
            }
            
            .size {
                height: 46px;
                padding:0 20px;
                display: flex;
                align-items: center;
                font-family: Gilroy;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                letter-spacing: -0.01em;
                color: #FFFFFF;
                background: linear-gradient(314.38deg, #FF86BA 7.46%, #FEBCD8 89.05%);
                border-radius: 20px;
            }
        }
    }

    .link {
        display: block;
        margin-top:24px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 60px;
        text-align: center;
        text-decoration-line: underline;
        color: #3A78BC;
    }
}