@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@font-face {
    font-family: 'Gilroy';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/gilroy-semibold.woff2') format('woff2'),
        url('../fonts/gilroy-semibold.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/gilroy-medium.woff2') format('woff2'),
        url('../fonts/gilroy-medium.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/gilroy-ultralight.woff2') format('woff2'),
        url('../fonts/gilroy-ultralight.woff') format('woff');
}
