.main-nums {
    min-height: 392px;
    margin: 72px auto 0;
    background: linear-gradient(100.49deg, #8DBEF3 1.62%, #3A78BC 98.14%);
    border-radius: 50px;
    padding: 25px 78px 30px 99px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .row {
        display: flex;
        flex-direction: row;

        p {
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 42px;
            letter-spacing: 0.05em;
            color: #FFFFFF;

            &.small {
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
            }
        }
        
        .col {
            position: relative;
            margin-right: 40px;

            &::after {
                content: "";
                width: 1px;
                height: 36px;
                background-color: rgba(0, 0, 0, 0.1);
                position: absolute;
                top: 50%;
                margin-top: -18px;
                right: -19px;
            }

            &:last-child {
                margin-right: 0;

                &::after {
                    display: none;
                }
            }
        }
    }

    .btn {
        @include btnBig(#000, #fff, #fff);
            margin-top:32px;

        &:hover {
            @include btnBigHover;
        }
    }

    img {
        position: absolute;
        bottom:0;
        right: 0;
        border-bottom-right-radius: 50px;
    }
}