.masters {
    margin: 176px auto 0;
    display: flex;
    flex-direction: row;

    .image-block {
        width: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:30px 0 40px;
        background: #FFFFFF;
        box-shadow: 0px 0px 60px #D5EAF1;
        border-radius: 60px;

        p {
            margin-top:8px;
            text-align: center;
            font-family: 'Gilroy';
            font-size: 24px;
            line-height: 33px;
            color: #000000;
        }
    }

    .description-block {
        margin-left: 78px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {            

            span {
                color:#FF006D;
            }

            &.big {
                max-width: 697px;
                font-family: Gilroy;
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 50px;
                color: #000000;
            }

            &.small {
                margin-top:25px;
                font-family: Gilroy;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 30px;
                color: #586271;
            }
        }

        .btn {
            @include btnBig(#fff, #3A78BC, #3A78BC);
            margin-top:40px;

            &:hover {
                @include btnBigHover;
            }
        }
    }

    &.with-form {
        align-items: flex-start;

        .image-block {
            padding-top:56px;

            p {
                max-width: 187px;
                margin-top:30px;
            }
        }

        .description-block {
            padding-top:30px;
            width: calc(100% - 260px - 78px); 

            p {
                &.big {
                   max-width: 810px;
                    font-family: Gilroy;
                    font-size: 24px;
                    line-height: 38px;
                    color: #000000;
               }

               &.small {
                margin-top:5px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                color: #454E58;
               }
           }

            input[type="text"] {
                margin-top:15px;
                padding:20px 40px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 27px;
                color: #616E81;
                background: #FFFFFF;
                box-shadow: 0px 0px 60px #D5EAF1;
                border-radius: 10px;
           }

            .row {
                margin-top:16px;
                display: flex;
                align-items: center;

                .terms {
                    margin-left: 50px;
                    max-width: 511px;
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                    color: rgba(0, 0, 0, 0.5);
                }

                .btn {
                    margin-top:0;
                }
            }

            .link {
                margin-top:16px;
                font-family: Gilroy;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 60px;
                text-decoration-line: underline;
                color: #3A78BC;
            }
        }
    }
}