.options {
    margin:40px auto 0;

    .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
        padding:30px 15px 30px 0;
        background: #FFFFFF;
        box-shadow: 0px 0px 60px #D5EAF1;
        border-radius: 40px;

        .logo {
            width: 264px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 24px;

            .img {
                width: 48px;
            }

            p {
                margin-left: 24px;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 40px;
                color: #000000;
                text-transform: uppercase;
            }
        }

        .timing {
            margin:0 75px 0 0;
            padding:0 75px;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            border-left: 1px solid rgba(0, 0, 0, 0.1);

            .val {
                min-width: 106px;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #000000;
            }

            .label {
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: #586271;
            }
        }

        .price {
            padding:0 110px 0 0;

            .val {
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 27px;
                color: #FF006D;
            }
            
            .label {
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: #586271;
            }
        }

        .btn {
            @include btnBig(#FFF, #FF006D, #FF006D);

            &:hover {
                @include btnBigHover;
            }
        }
    }
}