.sidebar {
  width: 100%;
  max-width: 320px;
  padding-top: 20px;

  .user-block {
    margin-top: 20px;
    padding: 12px 0;
    background-image: url("../img/icons/box.svg");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 10px center;

    p.name {
      margin-left: 80px;
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #2c2d41;
    }

    p.email {
      display: inline-block;
      padding: 3px 10px 5px;
      margin-left: 80px;
      background: #5cceb0;
      border-radius: 5px;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      color: #ffffff;
    }

    .time {
      display: none;
      padding-right: 15px;

      p {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: #2c2d41;

        span {
          margin-left: 3px;
        }
      }
    }
  }

  .show-menu {
    display: none;
    margin-top: 18px;
    padding: 22px 0;
    position: relative;
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    background: #ffffff;
    border: 2px solid #5b72ec;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px #d1e6fb;
    border-radius: 7px;

    &:after {
      content: "";
      width: 12px;
      height: 12px;
      position: absolute;
      bottom: -6px;
      left: 50%;
      margin-left: -6px;
      background-image: url("../img/icons/show-menu.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 12px;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    a {
      margin-left: 35px;
      display: block;
      position: relative;
      padding-left: 30px;
      font-weight: 600;
      font-size: 13px;
      line-height: 40px;
      color: #000000;
      background-repeat: no-repeat;
      background-position: left center;

      &.active {
        color: #576ad6;
      }

      &.parent {
        &:after {
          content: "+";
          position: absolute;
          right: 30px;
          font-weight: 500;
          font-size: 18px;
          line-height: 40px;
        }
      }

      &.home {
        background-image: url("../img/icons/home.svg");
        background-size: 18px 18px;

        &.active {
          background-image: url("../img/icons/home_active.svg");
        }
      }

      &.packages {
        background-image: url("../img/icons/packages.svg");
        background-size: 18px 15px;

        &.active {
          background-image: url("../img/icons/packages_active.svg");
        }
      }

      &.shopping {
        background-image: url("../img/icons/shopping.svg");
        background-size: 16px 18px;

        &.active {
          background-image: url("../img/icons/shopping_active.svg");
        }
      }

      &.fast {
        background-image: url("../img/icons/fast.svg");
        background-size: 18px 18px;

        &.active {
          background-image: url("../img/icons/fast_active.svg");
        }
      }

      &.discounts {
        background-image: url("../img/icons/discounts.svg");
        background-size: 16px 16px;

        &.active {
          background-image: url("../img/icons/discounts_active.svg");
        }
      }

      &.partners {
        background-image: url("../img/icons/partners.svg");
        background-size: 16px 40px;

        &.active {
          background-image: url("../img/icons/partners_active.svg");
        }
      }

      &.settings {
        background-image: url("../img/icons/settings.svg");
        background-size: 16px 16px;

        &.active {
          background-image: url("../img/icons/settings_active.svg");
        }
      }

      &.support {
        background-image: url("../img/icons/support.svg");
        background-size: 14px 16px;

        &.active {
          background-image: url("../img/icons/support_active.svg");
        }
      }

      &.faq {
        background-image: url("../img/icons/faq.svg");
        background-size: 17px 17px;

        &.active {
          background-image: url("../img/icons/faq_active.svg");
        }
      }

      &.logout {
        background-image: url("../img/icons/logout.svg");
        background-size: 14px 14px;

        &.active {
          background-image: url("../img/icons/logout_active.svg");
        }
      }
    }

    .has-child {
      &.opened {
        padding: 5px 0;

        .parent {
          &:after {
            content: "-";
            position: absolute;
            right: 30px;
            font-weight: 500;
            font-size: 18px;
            line-height: 40px;
          }
        }
      }
    }

    .child {
      display: none;
      border-top: 2px solid rgba(111, 131, 238, 0.1);
      padding-top: 20px;

      &.show {
        display: block;
      }

      a {
        margin-bottom: 17px;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: #454e58;

        &.is-alert {
          position: relative;

          &:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            right: 30px;
            width: 8px;
            height: 8px;
            margin-top: -4px;
            background-color: #ff006d;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

@media (max-width: 1180px) {
  .sidebar {
    max-width: 100%;
    padding: 20px 15px 0;

    .show-menu {
      display: block;
    }

    .nav {
      display: none;
    }

    .user-block {
      padding: 7px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-size: 24px;

      p {
        &.name {
          display: none;
        }
        &.email {
          margin-left: 32px;
          background-color: transparent;
          color: #616e81;
          font-size: 12px;
        }
      }

      .time {
        display: flex;
        p {
          font-size: 11px;
        }
      }
    }
  }
}
