.title-block {
    display: flex;
    flex-direction: row;
    margin:0 auto;
    padding-top:36px;

    &>div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &.img {
            align-items: flex-end;
        }
    }

    .title {
        position: relative;
        max-width: 460px;
        color:#3A78BC;
        font-family: 'Gilroy';
        font-weight: 600;
        font-size: 56px;
        line-height: 80px;
        letter-spacing: -0.01em;

        span {
            color:#FF006D;
        }

        &.with-label {
            &:before {
                content : "";
                display: block;
                width: 86px;
                height: 49px;
                position: absolute;
                left: -76px;
                top: -13px;
                background-image: url('../img/dollar.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
    }

    .text {
        margin-top:20px;
        max-width: 417px;
        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #000000;

        &.bold {
            font-size:18px;
            max-width: 544px;
        }
    }

    .btn {
        @include btnBig(#FFF, #FF006D, #FF006D);
        margin-top:50px;

        &:hover {
            @include btnBigHover;
        }
    }
}