.title-block {
    display: flex;
    flex-direction: row;
    margin:0 auto;
    padding-top:36px;

    &>div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &.sizes-title {
            width: auto;
        }

        &.img {
            align-items: flex-end;
        }
    }

    .title {
        position: relative;
        max-width: 460px;
        color:#3A78BC;
        font-family: 'Gilroy';
        font-weight: 600;
        font-size: 56px;
        line-height: 80px;
        letter-spacing: -0.01em;

        span {
            color:#FF006D;
        }

        &.with-label {
            &:before {
                content : "";
                display: block;
                width: 86px;
                height: 49px;
                position: absolute;
                left: -76px;
                top: -13px;
                background-image: url('../img/dollar.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }

        &.medium {
            margin-top:50px;
            max-width: 757px;
        }

        &.title-blog {
            margin-top:-70px;
        }
    }

    .text {
        margin-top:20px;
        max-width: 417px;
        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #000000;

        &.bold {
            font-size:18px;
            max-width: 544px;
        }
        
        &.medium {
            max-width: 100%;
            font-size: 18px;
        }
    }

    .with-border {
        margin-top:56px;
        max-width: 706px;
        padding:40px 47px 40px 50px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        background: #FFFFFF;
        border: 2px solid #FF86BA;
        box-sizing: border-box;
        box-shadow: 0px 0px 60px #D5EAF1;
        border-radius: 40px;

        span {
            margin-bottom:16px;
            display: block;
            font-family: Gilroy;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 24px;
            color: #000000;
        }

        a {
            color: #3A78BC;
        }
    }

    .btn {
        @include btnBig(#FFF, #FF006D, #FF006D);
        margin-top:50px;

        &:hover {
            @include btnBigHover;
        }
    }
}