.title-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: $maxWidthContent;
    margin:0 auto;
    padding-top:36px;

    &>div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &.img {
            align-items: flex-end;
        }
    }

    .title {
        position: relative;
        max-width: 460px;
        color:#3A78BC;
        font-family: 'Gilroy';
        font-weight: 600;
        font-size: 56px;
        line-height: 80px;
        letter-spacing: -0.01em;

        span {
            color:#FF006D;
        }

        &:before {
            content : "";
            display: block;
            width: 86px;
            height: 49px;
            position: absolute;
            left: -76px;
            top: -13px;
            background-image: url('../img/dollar.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    .text {
        margin-top:20px;
        max-width: 417px;
        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #000000;
    }

    .btn {
        font-size: 16px;
        margin-top:50px;
        width: 297px;
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}