.tour {
    margin: 50px auto 0;
    min-height: 392px;
    background: linear-gradient(100.49deg, #8DBEF3 1.62%, #3A78BC 98.14%);
    border-radius: 50px;
    padding-left: 99px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        position: absolute;
        bottom: 0;
        right: 125px;
    }

    .title {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }
    
    .description {
        height: 56px;
        display: flex;
        align-items: center;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
    }

    .btn {
        @include btnBig(#000, #fff, #fff);
        margin-top:20px;
    }
}