.blog-categories-wrap {
    margin:50px auto 0;

    .blog-categories {
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;

        .item {
            margin:0 3px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding:5px 20px;
            background-color: #3A78BC;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 40px;
            text-align: center;
            color: #FFFFFF;
            border-radius: 20px;

            &.active {
                background-color: #FF006D;
            }

            &:hover {
                background-color: #FF006D;
            }
        }
    }
}