.partners-program-start {
    margin:50px auto 0;
    padding:25px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid #FF86BA;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 60px #D5EAF1);
    border-radius: 40px;

    p {
        margin-right: 60px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        color: #FF2380;
    }

    .btn {
        @include btnBig(#FFF, #FF006D, #FF006D);

        &:hover {
            @include btnBigHover;
        }
    }
}